%nav.navbar.is-spaced.is-fixed-top{ role: 'navigation', 'aria-label': 'main navigation' }
  .navbar-brand
    %a.navbar-item{ href: '/' }
      = image_tag 'gikan'
    %a.navbar-burger.burger{ role: 'button', 'aria-label': 'menu', 'aria-expanded': 'false', data: { target: 'navMenu' } }
      %span{ 'aria-hidden': 'true' }
      %span{ 'aria-hidden': 'true' }
      %span{ 'aria-hidden': 'true' }
  .navbar-menu#navMenu
    .navbar-start
      = link_to 'Balai', root_path, class: 'navbar-item'
      - if signed_in?
        = link_to 'Account', nil, class: 'navbar-item account-link'
        = link_to 'Your Contributions', nil, class: 'navbar-item user-contributions-link'
    .navbar-end
      - if signed_in?
        .navbar-item.new-place-link
          %span.icon
            %i.fas.fa-map-pin
          = link_to 'Add', new_user_place_path(current_user)
        = link_to 'Sign out', sign_out_path, method: :delete, class: 'navbar-item sign-out-link'
      - else
        = link_to 'Sign up', signup_path, class: 'navbar-item sign-up-link'
        = link_to 'Sign in', sign_in_path, class: 'navbar-item sign-in-link'
