!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Elyer
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://kit.fontawesome.com/f89a405bc5.js' }
  %body.has-navbar-fixed-bottom
    - flash.each do |message_type, message|
      = content_tag :div, class: "notification is-#{message_type}" do
        = content_tag :button, nil, class: 'delete'
        = message
    = render 'layouts/hero'
    %section.elyer-body
      = render 'layouts/menu'
      = yield
